#todo
    padding: 50px
    .minibox
        width: 240px
        height: 200px
        border: 2px solid #9c6541
        border-radius: 20px
        background-color: #9c6541
        margin: 10px 0
        h1
            font-weight: 700
            font-size: 30px
            color: #ffffff
            display: flex
            justify-content: center
            margin: 10px
        input
            border-radius: 20px
            padding: 12px 15px
            margin: 24px
        .btn
            background-color: #d7d7dd
            display: flex
            justify-content: center
            font-size: 16px
            margin: 0 80px
            border-radius: 20px
    h2
        display: flex
        justify-content: center
        font-size: 18px
        border: 2px solid #000000
        border-radius: 20px
        padding-top: 10px
        margin: 2px
